version: 2
updates:
    - package-ecosystem: github-actions
      directory: /
      schedule:
          interval: weekly
    - package-ecosystem: npm
      commit-message:
          prefix: dependencies
      versioning-strategy: increase
      directory: /
      schedule:
          interval: daily
    - package-ecosystem: docker
      directory: /docker
      schedule:
          interval: daily
