/*
 * SPDX-License-Identifier: Apache-2.0
 * SPDX-FileCopyrightText: Huawei Inc.
 */

.logo {
    height: 48px;
    margin: 16px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    font-size: large;
}

.logo > a {
    text-decoration: none;
    color: white;
}

.site-layout .site-layout-background {
    background: #fff;
    overflow: auto;
}

[data-theme='dark'] .site-layout .site-layout-background {
    background: #141414;
}

.layout {
    min-height: 100vh;
}

.site-layout {
    padding: 0 15px;
    margin-top: 15px;
    overflow-y: auto;
}

.ant-layout-sider-children > svg {
    margin: auto;
}

.site-layout-background {
    height: 100%;
    min-height: 360px;
}

.ant-layout-footer {
    text-align: center;
}

.header-menu {
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    justify-content: flex-end;
    align-items: center;
    margin-left: 100px;
}

.header-menu-button {
    box-shadow: none !important;
    border: none !important;
}

.header-menu-button .search-text {
    display: inline;
}

.header-menu-button .services-text {
    display: inline;
}

@media screen and (max-width: 768px) {
    .header-menu-button .search-text {
        display: inline;
    }

    .header-menu-button .services-text {
        display: none;
    }
}

@media screen and (max-width: 400px) {
    .header-menu-button .search-text,
    .header-menu-button .services-text {
        display: none;
    }

    .header-menu-button .search-box {
        display: block;
        width: 100%;
    }
}

.home-data-display {
    padding: 24px;
}

.site-layout-protect-height {
    height: 15px;
}

.content-title {
    font-size: 20px;
    font-weight: bold;
}

.menu-loading {
    padding-left: 50px;
}

.service-api-doc-link {
    font-size: 13px;
    font-weight: bold;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: inline;
    padding: 0;
    margin-top: 10px;
}

@media only screen and (max-device-width: 700px) {
    .ant-layout-header {
        line-height: 30px;
    }
}
