/*
 * SPDX-License-Identifier: Apache-2.0
 * SPDX-FileCopyrightText: Huawei Inc.
 */

.catalog-middleware {
    height: 100%;
}

.catalog-middleware .container {
    display: flex;
    height: 100%;
}

.catalog-middleware .left-class {
    height: 100%;
    padding: 24px;
    width: 300px;
}

.catalog-middleware .left-title-class {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 12px;
    margin-bottom: 12px;
    border-bottom: 1px solid #f0f0f0;
}

.catalog-middleware .right-class {
    clear: both;
    height: 100%;
    padding: 24px;
    width: calc(100% - 324px);
}

.catalog-middleware .middle-class {
    width: 15px;
    background: #f5f5f5;
}

.catalog-middleware .catalog-detail-class {
    font-size: 16px;
}

.catalog-middleware .ant-tabs-tab-btn {
    font-size: 14px;
    font-weight: bold;
}

.catalog-middleware .update-unregister-btn-class {
    display: flex;
}

.catalog-skeleton {
    margin: 30px;
    position: absolute;
    width: 80%;
}

.catalog-tree-node {
    width: 200px;
}

.catalog-service-icon {
    display: flex;
    align-items: center;
}

.catalog-service-name {
    width: 200px;
    margin-top: 15px;
}
.catalog-service-status-size {
    font-size: 14px;
}

.catalog-details-h3 {
    font-size: 16px;
}

.catalog-update-btn-class {
    margin-left: 20px;
}

.catalog-csp-details-skeleton {
    margin: 30px;
    position: relative;
    width: 80%;
}
