/*
 * SPDX-License-Identifier: Apache-2.0
 * SPDX-FileCopyrightText: Huawei Inc.
 */

.catalog-middleware {
    height: 100%;
}

.catalog-middleware .container {
    display: flex;
    height: 100%;
}

.catalog-middleware .left-class {
    height: 100%;
    padding: 8px;
    width: 18%;
}

.catalog-middleware .left-title-class {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 12px;
    margin-bottom: 12px;
    border-bottom: 1px solid #f0f0f0;
}

.catalog-middleware .right-class {
    clear: both;
    height: 100%;
    padding: 24px;
    width: calc(100% - 324px);
}

.catalog-middleware .middle-class {
    width: 15px;
    background: #f5f5f5;
}

.catalog-middleware .catalog-detail-class {
    font-size: 16px;
}

.catalog-middleware .ant-tabs-tab-btn {
    font-size: 14px;
    font-weight: bold;
}

.catalog-middleware .update-unpublish-btn-class {
    display: flex;
}

.service-template-card {
    margin-top: 10px;
    padding-top: 0px !important;
}

.catalog-skeleton {
    margin: 30px;
    position: absolute;
    width: 80%;
}

.catalog-tree-node {
    width: 200px;
}

.catalog-service-icon {
    display: flex;
    align-items: center;
}

.catalog-service-name {
    width: 200px;
    margin-top: 15px;
}

.catalog-service-status-size {
    font-size: 14px;
}

.catalog-details-h3 {
    padding-top: 15px;
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 10px;
}

.catalog-details-h6 {
    font-size: 13px;
    font-weight: bold;
}
.management-info {
    padding-bottom: 16px;
}
.management-variable {
    padding-top: 24px;
    padding-bottom: 16px;
}

.catalog-active-deployment {
    background: none;
    font-size: 14px;
    font-weight: normal;
    color: #1677ff;
    border: none;
    cursor: pointer;
}

.catalog-manage-btn-class {
    margin-left: 20px;
}

.catalog-csp-details-skeleton {
    margin: 30px;
    position: relative;
    width: 80%;
}

.catalog-service-update-result {
    margin-top: 20px;
}

.catalog-deployment-info-table {
    width: auto;
    margin-top: 10px;
    overflow-x: auto;
}

.catalog-display-deployment-kind {
    width: 100px;
    height: 26px;
    display: inline-block;
}
.requested-service-template-history-error {
    margin-bottom: 10px;
}
