.credential-from {
    height: 60vh;
}

.credential-from-input {
    height: 45vh;
    overflow: auto;
}

.credential-from-button {
    height: 5vh;
    margin-bottom: 10px;
    margin-left: 40%;
}

.credential-details {
    height: 60vh;
    overflow: auto;
}

.credential-tip {
    padding-top: 10px;
    height: 10vh;
    padding-right: 10px;
    padding-left: 10px;
}

.add-credential-from-button-reset {
    margin-left: 20px;
}

.update-credential-from-button-cancel {
    margin-left: 20px;
}

.add-credential-from-button {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.add-credential-from-variables-value {
    display: inline-block;
    margin-inline-end: 4px;
    color: #ff4d4f;
    font-size: 14px;
    line-height: 1;
    content: '*';
}

.credential-details-value {
    width: 40%;
}
