/*
 * SPDX-License-Identifier: Apache-2.0
 * SPDX-FileCopyrightText: Huawei Inc.
 */

.credential-from {
    height: 60vh;
}

.credential-from-input {
    height: 45vh;
    overflow: auto;
}

.credential-from-button {
    height: 5vh;
    margin-bottom: 10px;
    margin-left: 40%;
}

.credential-details {
    height: 60vh;
    overflow: auto;
}

.credential-tip {
    padding-top: 10px;
    height: 10vh;
    padding-right: 10px;
    padding-left: 10px;
}

.add-credential-from-button-reset {
    margin-left: 20px;
}

.update-credential-from-button-cancel {
    margin-left: 20px;
}

.add-credential-from-button {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.add-credential-from-variables-value {
    display: inline-block;
    margin-inline-end: 4px;
    color: #ff4d4f;
    font-size: 14px;
    line-height: 1;
    content: '*';
}

.credential-select-option-csp {
    height: 50px;
}
.custom-select {
    margin-top: 5%;
    display: flex;
    justify-content: center;
}

.add-credential-api-doc {
    font-size: 13px;
    font-weight: bold;
    float: right;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: inline;
    padding: 0;
    margin-top: -27px;
    margin-right: 240px;
}

.update-credential-api-doc {
    font-size: 13px;
    font-weight: bold;
    float: right;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: inline;
    padding: 0;
    margin-top: -27px;
    margin-right: 250px;
}
