/*
 * SPDX-License-Identifier: Apache-2.0
 * SPDX-FileCopyrightText: Huawei Inc.
 */

.flavor-card-title {
    text-align: center;
    display: block;
    width: 100%;
    margin-top: 15px;
    font-size: 16px;
}

.flavor-card-border {
    width: 300px;
}

.flavor-card-content {
    text-align: center;
    display: block;
    width: 100%;
    margin-top: 15px;
}

.flavor-features-item-icon {
    color: green;
}

.flavor-container {
    border-radius: 8px;
}

.flavor-card-container {
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    width: 260px;
    height: 213px;
}

.flavor-selected {
    border: 3px solid #1677ff;
    pointer-events: none;
    opacity: 0.7;
    cursor: not-allowed;
}

.flavor-price-content {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.flavor-features-content {
    text-align: center;
    margin-bottom: 0;
}

.flavor-btn {
    width: 300px;
    height: 100%;
    border: none;
    padding: 0;
}

.region-flavor-content .ant-radio-group {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    font-size: 14px;
}

.custom-radio-button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 250px;
    text-align: center;
    border-radius: 6px;
}

.custom-radio-button-content {
    height: 100%;
    padding-bottom: 15px;
}

.flavor-features {
    margin-left: 10%;
}

.ribbon-container {
    display: flex;
    height: 100%;
    width: 100%;
}

.ant-radio-button-wrapper-checked.ant-radio-button-wrapper-disabled {
    background-color: transparent !important;
}

.flavor-feature-item-name {
    font-weight: lighter;
}

.flavor-one-time-price-content .ant-typography {
    font-size: 12px !important;
    margin-top: 0;
}

.flavor-skeleton {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flavor-skeleton-content {
    width: 100%;
    height: 100%;
}

.flavor-price-error-info {
    color: red;
}

.flavor-price-reload {
    margin-left: 1px;
}

.flavor-price-loading {
    font-size: 24px;
}

.flavor-retry-popover .ant-popover-inner-content {
    padding: 0;
}
