/*
 * SPDX-License-Identifier: Apache-2.0
 * SPDX-FileCopyrightText: Huawei Inc.
 */

.service-instance-list {
    margin-top: 15px;
    width: 100%;
}

.service-instance-list-detail {
    font-weight: bold;
    white-space: nowrap;
}

.my-service-details-skeleton {
    margin: 30px;
    position: relative;
    width: 80%;
}

.my-service-status-size {
    font-size: 14px;
}

.show-details {
    width: 80%;
    padding: 0;
}

.details-content {
    margin-bottom: 15px;
}

.show-details-typography-copy {
    color: rgba(0, 0, 0, 0.45) !important;
}

.deployment-details-with-scroll {
    max-height: 30vh;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    max-width: 100%;
    margin-left: 14px;
}

.deployed-resource-properties {
    display: flex;
    flex-direction: row;
}

.deployed-resource-properties div {
    max-width: 40vh;
    word-wrap: break-word;
    overflow: auto;
    max-height: 30vh;
}

.custom-monitor-button {
    background-color: transparent;
    border-color: #fff;
    color: #333;
}

.custom-monitor-button:hover,
.custom-monitor-button:active,
.custom-monitor-button:focus {
    background-color: #fafafa;
    border-color: #fafafa;
    color: #fafafa;
}

.button-as-link {
    border: none;
    box-shadow: none;
    background: none;
}

.service-instance-list-service-state {
    font-style: italic;
    font-size: 12px;
    white-space: nowrap;
    color: #999;
}

.my-service-contact-container {
    position: relative;
    margin-right: 50px;
}

.my-service-contact-container-content-position {
    position: absolute;
    top: 0;
    right: 0;
}

.service-instance-detail-position {
    display: flex;
}

.resource-properties-key {
    padding-top: 7px;
}

.region-display-inline {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.region-site {
    display: flex;
    align-items: center;
    font-size: 12px;
}

.select-columns {
    width: 100%;
}

.select-column-button {
    margin-bottom: 100px;
}

.columns-container {
    margin-top: 10px;
}

.refresh-btn-class {
    width: 90px;
}

.refresh-btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
    z-index: 10;
}

.refresh-btn-class {
    width: 90px;
}

.select-columns-class {
    position: sticky;
    top: 0;
    right: 0;
    margin-left: auto;
    z-index: 10;
    min-width: 120px;
}

@media screen and (max-width: 768px) {
    .select-columns-class {
        right: 10px;
        z-index: 10;
    }
}

@media screen and (max-width: 576px) {
    .select-columns-class {
        right: 2px;
        z-index: 2;
    }
}

.columns-width {
    word-wrap: break-word;
    word-break: break-all;
}

.group-value-hide-copy-items {
    display: flex;
    align-items: center;
}

.position-copy-icon {
    margin: 0 !important;
}
