.service-instance-list {
    margin-top: 15px;
}

.service-instance-list-detail {
    font-weight: bold;
}

.service-instance-detail-position {
    display: flex;
    alignitems: center;
}

.failure-alert {
    margin-top: 10px;
}

.my-service-details-skeleton {
    margin: 30px;
    position: relative;
    width: 80%;
}

.my-service-status-size {
    font-size: 14px;
}

.show-details {
    width: 55%;
    height: 55%;
}

.details-content {
    margin-bottom: 15px;
}

.show-details-typography-copy {
    color: rgba(0, 0, 0, 0.45) !important;
}
