.service-instance-list {
    margin-top: 15px;
    width: 100%;
}

.service-instance-list-detail {
    font-weight: bold;
}

.service-instance-detail-position {
    display: flex;
}

.failure-alert {
    margin-top: 10px;
}

.my-service-details-skeleton {
    margin: 30px;
    position: relative;
    width: 80%;
}

.my-service-status-size {
    font-size: 14px;
}

.show-details {
    width: 80%;
    padding: 0;
}

.details-content {
    margin-bottom: 15px;
}

.show-details-typography-copy {
    color: rgba(0, 0, 0, 0.45) !important;
}

.deployment-details-with-scroll {
    max-height: 30vh;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    max-width: 100%;
    margin-left: 14px;
}
