/*
 * SPDX-License-Identifier: Apache-2.0
 * SPDX-FileCopyrightText: Huawei Inc.
 */

.ocl-data-display {
    margin-right: 10em;
    margin-left: 10em;
}

.ocl-data-main-info {
    display: flex;
    gap: 30px;
    align-items: center;
}

.ocl-data-info-table {
    width: auto;
    margin-top: 10px;
    overflow-x: auto;
}

.ocl-data-display-service-review-name {
    width: 400px;
    margin-top: 15px;
}

.ocl-data-display-service-register-name {
    width: 800px;
    margin-top: 15px;
}

.ocl-data-display-default-billing-mode {
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10px;
    margin-top: -12px;
    transform: translateX(-20%);
}

.ocl-data-display-default-billing-mode-tag {
    margin-top: 8px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ocl-display-tag {
    margin-top: 10px;
}

.ocl-data-hover {
    padding: 0;
    margin-left: 2px;
    font-size: 12px;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    line-height: normal;
}

.ocl-contact-details-class {
    display: flex;
    align-items: center;
}

.ocl-agreement-text {
    max-height: 40vh;
    position: relative;
    overflow: auto;
    max-width: 60vh;
}

.ocl-deployment-script {
    max-height: 30vh;
    position: relative;
    overflow: auto;
    max-width: 50vh;
}

.ocl-flavors-item-content {
    max-height: 200px;
    overflow: auto;
}

.ocl-flavor-item {
    margin-bottom: 15px;
}

.ocl-data-flavor-hover {
    font-size: 14px;
    font-weight: normal;
    background: #e8e6e6ff;
    padding: 3px 2px;
    margin: 0 1px 0 1px;
    color: #141414;
}

.flavor-badge-content {
    color: #52c41a;
    right: -10px;
    top: -5px;
}

.flavor-btn {
    margin: 10px 0;
}

.ocl-data-display-flavor-btn {
    font-size: 12px;
    line-height: 20px;
    transform: translateY(-20%);
}

.ocl-data-display-deployment-kind {
    width: 100px;
    height: 26px;
    display: inline-block;
}

.icon-text-container {
    display: inline-flex;
    align-items: center;
    gap: 2px;
}

.icon {
    font-size: 12px;
    vertical-align: middle;
}
