/*
 * SPDX-License-Identifier: Apache-2.0
 * SPDX-FileCopyrightText: Huawei Inc.
 */

.register-content {
    padding: 24px;
}

.register-buttons {
    display: flex;
    align-items: baseline;
    gap: 10px;
    margin-top: 20px;
}

.ocl-data-hover {
    padding: 0;
    font-size: 14px;
    font-weight: normal;
}

.result {
    margin-top: 20px;
}

.ant-upload-list-item-name {
    padding: 0 !important;
}

.ocl-display-tag {
    margin-top: 10px;
}

.deployment-script {
    max-height: 30vh;
    position: relative;
    overflow: auto;
    max-width: 50vh;
}

.try-again-btn-class {
    margin-right: 20px;
}

.ocl-contact-details-class {
    display: flex;
    align-items: center;
}

.ocl-contact-details-values {
    margin: 0;
}
