/*
 * SPDX-License-Identifier: Apache-2.0
 * SPDX-FileCopyrightText: Huawei Inc.
 */

.modify-select-class {
    height: 80%;
}

.modify-select-flavor-billing {
    width: 100%;
    margin-bottom: 20px;
}

.modify-title-class {
    margin-left: 24px;
    margin-bottom: 8px;
}

.flavor-features-item-icon {
    color: green;
}

.flavor-price-content {
    text-align: center;
    font-weight: bold;
}

.flavor-select-hover {
    border: 3px solid #1677ff;
}

.flavor-select-hover-disabled {
    border: 3px solid #b5b5b5;
    pointer-events: none;
    opacity: 0.7;
    cursor: not-allowed;
}

.flavor-container {
    border-radius: 8px;
}

.flavor-card-container {
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.flavor-card-content {
    text-align: center;
}

.flavor-feature-content {
    margin-left: 15%;
}

.flavor-card-content-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modify-container {
    margin-left: 5px;
    max-width: 1600px;
}

.modify-history-value {
    white-space: normal;
    word-break: break-word;
    vertical-align: top;
}

.modify-history-error-msg-value {
    display: inline-block;
    max-width: 145px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
}

.modify-history-value-li {
    text-align: left;
}

.flavor-old-badge {
    position: relative;
}

.flavor-card-custom-ribbon {
    position: absolute;
    top: 1%;
    left: 70%;
}

.service-modify-submit-reset-container {
    display: flex;
    gap: 20px;
    flex-direction: row;
    margin-bottom: 15px;
    justify-content: flex-end;
    width: 600px;
}

.service-modify-submit-class {
    display: flex;
    flex-direction: row;
    text-align: right;
    justify-content: flex-end;
}

.service-modify-warnings-content {
    width: 400px;
}

.service-order-error-data-hover {
    padding: 0;
    font-size: 14px;
    font-weight: normal;
}

.service-order-error-text {
    max-height: 30vh;
    position: relative;
    overflow: auto;
    max-width: 60vh;
}

.ant-table-cell {
    height: 100%;
}

.service-history-value {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.service-history-order-id-class {
    margin-bottom: 0 !important;
}
