/*
 * SPDX-License-Identifier: Apache-2.0
 * SPDX-FileCopyrightText: Huawei Inc.
 */

.Line {
    height: 1px;
    border: 0 solid transparent;
    color: black;
    padding: 0;
    background: #f2f2f2;
    width: 100%;
}

.order-select-porting-target {
    display: flex;
    margin-top: 2%;
    margin-bottom: 3%;
}

.order-param-item-row {
    display: table;
    clear: both;
    height: 80px;
}

.order-param-item-left {
    float: left;
    width: 24px;
    height: 80px;
}

.order-param-item-content {
    float: left;
    width: 600px;
}

.order-param-item-right {
    width: 100%;
}

.order-param-item-title {
    font-weight: bold;
}

.order-param-item-tip {
    font-weight: normal;
}

.order-param-failed {
    width: 100%;
    margin-left: 15px;
    margin-right: 30px;
    margin-bottom: 15px;
    background-color: #f0f0f0;
    word-wrap: break-word;
}

.order-param-submit {
    text-align: right;
    margin-top: 15px;
    margin-bottom: 15px;
}

.order-navigate {
    text-align: right;
    margin-top: 15px;
    margin-bottom: 15px;
}

.order-param-deploy {
    text-align: right;
    margin-top: 15px;
    margin-bottom: 15px;
}

.deploying {
    pointer-events: none;
}

.services-content-body {
    display: flex;
    flex-wrap: wrap;
}

.service-type-option-detail {
    display: flex;
    flex-flow: nowrap row;
    padding: 15px;
    width: 300px;
    height: 120px;
    border: 1px solid #edeeee;
    position: relative;
}

.service-type-option-detail-skeleton {
    flex-flow: nowrap row;
    padding: 10px;
    width: 300px;
    height: 100px;
    border: 1px solid #edeeee;
}

.service-type-option-detail-skeleton .ant-skeleton-header {
    padding-top: 20px;
}

.service-type-option-detail:hover {
    cursor: pointer;
    display: flex;
    flex-flow: nowrap row;
    padding: 20px;
    width: 300px;
    height: 130px;
    border: 3px solid #f2f1f1;
}

.cloud-provider-select {
    cursor: pointer;
    display: flex;
    flex-flow: nowrap row;
    width: 200px;
    height: 60px;
    margin-top: 5px;
    margin-right: 1em;
    border: 1px solid transparent;
    outline: 1px transparent dashed;
    outline-offset: -5px;
    border-radius: 5px;
    box-shadow: 0 0 0 1px #b5b5b5;
}

.cloud-provider-select-hover {
    cursor: pointer;
    display: flex;
    flex-flow: nowrap row;
    width: 200px;
    height: 60px;
    margin-top: 5px;
    margin-right: 1em;
    border: 1px solid transparent;
    outline: 1px transparent dashed;
    outline-offset: -5px;
    border-radius: 5px;
    box-shadow: 0 0 0 2px #1677ff;
}

.service-type-option-image {
    display: flex;
    justify-content: center;
    width: 50px;
    margin-right: 15px;
    float: left;
}

.service-type-option-service-icon {
    width: 40px;
    height: 40px;
    max-width: none;
}

.service-type-option-info {
    display: flex;
    flex-flow: nowrap column;
    flex-direction: column;
    flex-wrap: nowrap;
    flex-grow: 1;
    text-align: left;
    margin-bottom: 20px;
}

.service-type-option {
    color: #333;
    font-size: 14px;
    font-weight: 700;
}

.service-type-option-name {
    width: 200px;
    margin-top: 10px;
}

.service-type-option-service-name {
    width: 200px;
}

.service-type-option-description {
    font-size: 12px;
    color: #5e6366;
    min-height: 35px;
    word-break: normal;
    width: auto;
    display: block;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow: hidden;
}

.back-button-class {
    margin-top: 15px;
}

.order-form-selection-style {
    font-size: 14px;
    place-content: center;
}

.order-form-item-name {
    font-weight: bold;
}

.order-form-alert {
    margin-left: 10px;
}

.order-form-selection-first-in-group {
    margin-top: 1em;
}

.select-box-class {
    box-sizing: border-box;
    width: 100%;
}

.select-cloud-provider-class {
    width: 450px;
}

.services-content-body-col {
    margin: 15px;
}

.version-drop-down {
    width: fit-content;
}

.content-title-api {
    font-size: 13px;
    font-weight: bold;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: inline;
    padding: 0;
    margin-top: 10px;
}

.services-loading-error {
    margin: 10px;
}

.porting-select-destination-class {
    height: 80%;
}

.porting-select-destination-next-class {
    float: left;
    width: 450px;
    text-align: right;
    margin-top: 15px;
    margin-bottom: 15px;
}

.porting-step-title-inner-class {
    height: 12%;
}

.porting-step-title-inner-class-show-tip {
    height: 20%;
}

.porting-step-content-inner-class {
    height: 50%;
    overflow: auto;
    margin-left: 10px;
}

.porting-step-content-inner-class-show-tip {
    height: 40%;
    overflow: auto;
    margin-left: 10px;
}

.porting-step-button-inner-class {
    height: 5%;
    margin-left: 10px;
}

.porting-export-import-data-class {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    margin-bottom: 21%;
}

.porting-show-deploy-class {
    height: 50%;
}

.timer-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timer-header {
    font-size: 10px;
    font-weight: bold;
}

.timer-value {
    font-size: 20px;
}

.purge-btn-class {
    width: 101px;
}

.order-deploy-select-option {
    height: 50px;
}

.order-billing-title-class {
    font-size: 14px;
    margin-right: 8px;
}

.order-billing-value-class {
    font-size: 14px;
    font-weight: normal;
}

.order-billing-model-title-class {
    font-size: 14px;
    margin-left: 16px;
    margin-right: 8px;
}

.order-billing-model-value-class {
    font-size: 14px;
    font-weight: normal;
}

.order-form-flex-elements {
    display: flex;
}

.order-form-group-items {
    box-shadow:
        0 1px 1px 0 rgba(0, 0, 0, 0),
        0 6px 20px 0 rgba(0, 0, 0, 0.1);
    padding-left: 50px;
    margin-top: 20px;
    padding-bottom: 20px;
}

.order-params-first-param {
    padding-top: 20px;
}

.order-form-inline-display {
    display: block;
}

.order-form-az-configs {
    margin-top: 15px;
}

.order-form-az-items {
    position: relative;
    top: -10px;
}

.order-form-service-host {
    margin-top: 6px;
}

@media screen and (max-width: 3840px) {
    .order-form-label {
        width: 10%;
    }

    .order-form-az-content {
        width: 88%;
    }
}

@media screen and (max-width: 2710px) {
    .order-form-label {
        width: 12%;
    }

    .order-form-az-content {
        width: 86%;
    }
}

@media screen and (max-width: 1920px) {
    .order-form-label {
        width: 14%;
    }

    .order-form-az-content {
        width: 84%;
    }
}

@media screen and (max-width: 1680px) {
    .order-form-label {
        width: 18%;
    }

    .order-form-az-content {
        width: 80%;
    }
}

@media screen and (max-width: 1440px) {
    .order-form-label {
        width: 24%;
    }

    .order-form-az-content {
        width: 74%;
    }
}

@media screen and (max-width: 1366px) {
    .order-form-label {
        width: 28%;
    }

    .order-form-az-content {
        width: 72%;
    }
}

@media screen and (max-width: 1280px) {
    .order-form-label {
        width: 30%;
    }

    .order-form-az-content {
        width: 68%;
    }
}

@media screen and (max-width: 1024px) {
    .order-form-label {
        width: 40%;
    }

    .order-form-az-content {
        width: 58%;
    }
}

@media screen and (max-width: 720px) {
    .order-form-label {
        width: 50%;
    }

    .order-form-az-content {
        width: 48%;
    }
}

.service-type-option-vendor {
    margin: 4px 0 0 0;
    word-break: normal;
    width: auto;
    display: block;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow: hidden;
    position: absolute;
    bottom: 4px;
    right: 0;
    transition: transform 0.3s ease;
}

.service-order-type-option-vendor {
    padding: 4px 0;
    border: none;
    cursor: pointer;
    display: inline;
    float: left;
    margin-right: 10px;
    margin-left: 10px;
}

.service-order-submit-option-vendor {
    border: none;
    display: inline;
    padding: 0;
    margin-top: 15px;
    margin-left: 10px;
    float: left;
}

.service-isv-vendor {
    font-size: 12px;
    font-weight: bold;
}

.service-api-doc-vendor-class {
    margin: 10px 0 0 10px;
}

.service-api-doc-class {
    margin: 0 10px 0 10px;
}

.service-order-submit-api-doc-class {
    margin: 10px 10px 0 10px;
}

.service-vendor-contact-class {
    display: flex;
    margin-right: 0;
    justify-content: flex-end;
}
