/*
 * SPDX-License-Identifier: Apache-2.0
 * SPDX-FileCopyrightText: Huawei Inc.
 */

.service-select-class {
    height: 80%;
}

.service-title-class {
    margin-left: 24px;
    margin-bottom: 8px;
}

.flavor-features-item-icon {
    color: green;
}

.flavor-price-content {
    text-align: center;
    font-weight: bold;
}

.flavor-select-hover {
    border: 3px solid #1677ff;
}

.flavor-select-hover-disabled {
    border: 3px solid #b5b5b5;
    pointer-events: none;
    opacity: 0.7;
    cursor: not-allowed;
}

.flavor-container {
    border-radius: 8px;
}

.flavor-card-container {
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.flavor-card-content {
    text-align: center;
}

.flavor-feature-content {
    margin-left: 15%;
}

.flavor-card-content-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.order-operation-container {
    margin-left: 5px;
    max-width: 1600px;
}

.order-history-request-content {
    text-align: left;
    margin-left: 30px;
}

.order-history-value-li {
    text-align: left;
}

.flavor-old-badge {
    position: relative;
}

.flavor-card-custom-ribbon {
    position: absolute;
    top: 1%;
    left: 70%;
}

.service-update-submit-reset-container {
    display: flex;
    gap: 20px;
    flex-direction: row;
    margin-bottom: 15px;
    justify-content: flex-end;
    width: 600px;
}

.service-update-submit-class {
    display: flex;
    flex-direction: row;
    text-align: right;
    justify-content: flex-end;
}

.service-modify-warnings-content {
    width: 400px;
}

.service-order-error-data-hover {
    padding: 0;
    font-size: 14px;
    font-weight: normal;
}

.service-order-error-text {
    max-height: 30vh;
    position: relative;
    overflow: auto;
    max-width: 60vh;
}

.ant-table-cell {
    height: 100%;
}
