.order-navigate {
    display: flex;
    border: 1px solid transparent;
    color: rgb(24, 120, 255);
    font-weight: bold;
    padding: 10px;
}

.order-navigate:hover {
    cursor: pointer;
    font-weight: bold;
    text-shadow: 0 0 1px rgb(24, 120, 255);
}

.Line {
    height: 1px;
    border: 0 solid transparent;
    color: black;
    padding: 0;
    background: #f2f2f2;
}

.order-param-item-row {
    display: table;
    clear: both;
    height: 80px;
}

.order-param-item-left {
    float: left;
    width: 30px;
    height: 80px;
}

.order-param-item-content {
    float: left;
    width: 600px;
}

.order-param-item-right {
    width: 100%;
}

.order-param-item-title {
    font-weight: bold;
}

.order-param-item-tip {
    font-weight: normal;
}

.order-red-font {
    color: red;
    font-weight: bold;
}

.order-param-failed {
    width: 100%;
    margin-left: 15px;
    margin-right: 30px;
    margin-bottom: 15px;
    background-color: #f0f0f0;
    word-wrap: break-word;
}

.order-param-submit {
    float: left;
    width: 600px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.deploying {
    pointer-events: none;
}

.services-content {
    padding: 24px;
}

.services-content-body {
    display: flex;
    flex-wrap: wrap;
}

.service-type-option-detail {
    display: flex;
    flex-flow: nowrap row;
    padding: 20px;
    width: 300px;
    height: 100px;
    border: 1px solid #edeeee;
}

.service-type-option-detail-selected {
    display: flex;
    flex-flow: nowrap row;
    padding: 20px;
    width: 370px;
    height: 115px;
    margin: 10px;
    border: 2px solid #1677ff;
}

.service-type-option-detail:hover {
    cursor: pointer;
    display: flex;
    flex-flow: nowrap row;
    padding: 20px;
    width: 300px;
    height: 100px;
    border: 2px solid #ff1631;
}

.cloud-provider-select {
    display: flex;
    flex-flow: nowrap row;
    padding: 0;
    width: 200px;
    height: 60px;
    margin: 10px;
    border: 1px solid #b5b5b5;
}

.cloud-provider-select-hover {
    cursor: pointer;
    display: flex;
    flex-flow: nowrap row;
    padding: 0;
    width: 200px;
    height: 60px;
    margin: 10px;
    border: 2px solid #1677ff;
    outline: 1px #b5b5b5 dashed;
    outline-offset: -5px;
    border-radius: 4%;
}

.cloud-provider-select:hover {
    cursor: pointer;
    display: flex;
    flex-flow: nowrap row;
    padding: 0;
    width: 200px;
    height: 60px;
    margin: 10px;
    border: 3px solid #f2f1f1;
    outline: 1px transparent dashed;
    outline-offset: -10px;
    border-radius: 4%;
}

.service-type-option-image {
    display: flex;
    justify-content: center;
    width: 50px;
    margin-right: 15px;
    float: left;
}

.service-type-option-service-icon {
    width: 40px;
    height: 40px;
    max-width: none;
}

.service-type-option-info {
    display: flex;
    flex-flow: nowrap column;
    flex-direction: column;
    flex-wrap: nowrap;
    flex-grow: 1;
    text-align: left;
    margin-bottom: 20px;
}

.service-type-option {
    color: #333;
    font-size: 14px;
    font-weight: 700;
}

.service-type-option-description {
    font-size: 12px;
    color: #5e6366;
    min-height: 35px;
    margin-top: 5px;
    word-break: normal;
    width: auto;
    display: block;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow: hidden;
}

.back-button-class {
    margin-top: 15px;
}

.cloud-provider-tab-class {
    margin: 0 0 20px 0;
    font-weight: bold;
}

.select-box-class {
    box-sizing: border-box;
}

.region-flavor-content {
    font-size: 14px;
    font-weight: bold;
}

.service-blank-class {
    display: flex;
    align-items: center;
    text-align: justify;
    width: 400px;
    height: 200px;
    margin: 0 auto;
}

.submit-alert-tip {
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 30px;
}
.services-content-body-col {
    margin: 15px;
}
