/*
 * SPDX-License-Identifier: Apache-2.0
 * SPDX-FileCopyrightText: Huawei Inc.
 */

.service-blank-class {
    display: flex;
    align-items: center;
    text-align: justify;
    width: 400px;
    height: 200px;
    margin: 0 auto;
}
