/*
 * SPDX-License-Identifier: Apache-2.0
 * SPDX-FileCopyrightText: Huawei Inc.
 */

.submit-alert-tip {
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 30px;
    max-width: 100%;
    overflow: hidden;
}
