/*
 * SPDX-License-Identifier: Apache-2.0
 * SPDX-FileCopyrightText: Huawei Inc.
 */

.generic-table-container {
    padding: 24px;
    display: grid;
}

.table-load-failure-alert {
    margin: 30px;
}

@media screen and (max-width: 768px) {
    .generic-table-container {
        padding: 8px;
    }
}

@media screen and (max-width: 576px) {
    .generic-table-container {
        padding: 4px;
    }
}
