/*
 * SPDX-License-Identifier: Apache-2.0
 * SPDX-FileCopyrightText: Huawei Inc.
 */

const trustedDomains = {
    default: {
        oidcDomains: ['${VITE_APP_ZITADEL_AUTHORITY_URL}'],
        accessTokenDomains: ['${VITE_APP_XPANSE_API_URL}'],
    },
};
